.HowToUse{
  padding: 60px 0;
}

.HowToUse__title {
  max-width: 700px;
  margin: auto;
  margin-bottom: 90px;
  text-align: center;
  color: #999;

  padding-top: 120px;
  background-size: auto 90px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(./assets/klara1.svg);
}

.HowToUse__title span {
  color: #333;
}

.HowToUse__box {
  display: flex;
  margin: auto;
  margin-bottom: 90px;
  max-width: 990px;
}

.HowToUse__box:last-child {
  margin-bottom: 30px;
}

.HowToUse__boxImage {
  flex: 1;
  margin-right: 30px;
  font-size: 0;
  line-height: 0;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.25);
}

.HowToUse__boxImage img{
  width: 100%;
  height: auto;
}

.HowToUse__box:nth-child(even) .HowToUse__boxImage {
  order: 2;
  margin-right: 0;
  margin-left: 30px;
}

.HowToUse__boxText {
  flex: 1;
}

.HowToUse__box:nth-child(even) .HowToUse__boxText {
  text-align: right;
}

@media screen and (max-width: 719px) {
  .HowToUse{
    padding: 30px 0;
  }
}
