.Promo {
  background: linear-gradient(90deg, rgb(59, 11, 138), rgb(106, 37, 216));
}

.Promo__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Promo__content {
  max-width: 700px;
  margin: auto;
  position: relative;
  text-align: center;
  /* padding-top: 150px; */
}

.Promo__texts {
  margin-bottom: 30px;
}

.Promo h1 {
  color: #fff;
  /* text-align: center; */
}

.Promo h4 {
  color: rgb(152, 157, 240);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
