.Header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.Header__wrap {
  display: flex;
  align-items: center;
}

.Header__logo {
  width: 85px;
  height: 21px;
  /* padding-right: 15px; */
  /* margin-top: 15px; */
  /* border-bottom: 15px solid #8fffdd; */

  background-position: 0 0;
  background-size: auto 21px;
  background-repeat: no-repeat;
  background-image: url(./assets/logo.svg);
}

.Header__menu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.Header__menuItem {
  padding: 15px 0;
  margin-right: 30px;
  cursor: pointer;
}

.Header__menuItem > div {
  transition: color 0.15s ease;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.15s ease;
}

.Header__menuItem:hover > div {
  color: #8fffdd;
  border-bottom: 1px solid #8fffdd;
}

.Header__menuItem:last-child {
  margin-right: 0;
}
